form {
    position: absolute;
    right: 0;
    margin-right: 25px;
}

.submit {
    margin-top: 5px;
}

#GIFArea {
    max-width: 66%;
    margin-left: -15px;
}

.buttonArea {
    background-color: green;
    height: auto;
    margin-left: -10px;
}

html {
    margin-left: 10px;
}

button {
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 0px;
}

#add-sport {
    border-radius: 5px;
    border: 0px;
    display: table;
    margin: 5px auto;
}

.newButton {
    margin-top: 10px;
    background-color: green;
    height: 100px;
    padding: 20px;
}
